@model MagicVilla_Web.Models.Dto.VillaUpdateDTO

<form asp-action="UpdateVilla">
    <br />
    <div class="container border-3">
        <h1 class="text-primary"> Actualizar Villa</h1>
        <hr />
        <input hidden asp-for="Id" />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Nombre" class="control-label pt-2 " style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Descripcion" class="control-label pt-2 " style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Descripcion" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Ubicacion" class="control-label pt-2 " style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Ubicacion" class="form-control" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Capacidad" class="control-label pt-2 " style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Precio" class="control-label pt-2 " style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Comodidad" class="control-label pt-2 " style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Comodidad" class="form-control" />
                <span asp-validation-for="Comodidad" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="ImagenUrl" class="control-label pt-2 " style="font-size:20px"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ImagenUrl" class="form-control" />
                <span asp-validation-for="ImagenUrl" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexVilla" asp-controller="Villa" class="btn-primary btn form-control">Volver</a>
            </div>

            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-info form-control" />

            </div>



        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}